LogicApp/logicapp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflow_name": {
            "defaultValue": "<logicappname>",
            "type": "String"
        },
        "azureblob_accountName": {
            "defaultValue": "<storageaccountname>",
            "type": "String"
        },
        "servicebus_name": {
            "defaultValue": "<servicebusname>",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflow_name')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_message_is_received_in_a_queue_(peek-lock)": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 5
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('mailservice'))}/messages/head/peek",
                                "queries": {
                                    "queueType": "Main",
                                    "sessionId": "None"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Catch_Get_Blob": {
                            "actions": {
                                "Terminate_2": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "Unable to get Blob"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Get_Blob": [
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Catch_Modify_Body": {
                            "actions": {
                                "Terminate_4": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "Unable to Modify Body"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Modify_Body": [
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Catch_Parse_Json": {
                            "actions": {
                                "Terminate": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "Unable to Parse Json"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Parse_Json": [
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Catch_Send_Mail": {
                            "actions": {
                                "Terminate_5": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "Unable to send Mail"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Send_Mail": [
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Catch_Set_Main_Body": {
                            "actions": {
                                "Terminate_3": {
                                    "runAfter": {},
                                    "type": "Terminate",
                                    "inputs": {
                                        "runError": {
                                            "message": "Unable to create the main body"
                                        },
                                        "runStatus": "Failed"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Set_Main_Body": [
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Complete_the_message_in_a_queue": {
                            "runAfter": {
                                "Try_Send_Mail": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/@{encodeURIComponent(encodeURIComponent('mailservice'))}/messages/complete",
                                "queries": {
                                    "lockToken": "@triggerBody()?['LockToken']",
                                    "queueType": "Main",
                                    "sessionId": "@triggerBody()?['SessionId']"
                                }
                            }
                        },
                        "Initialize_variable_Body": {
                            "runAfter": {
                                "Initialize_variable_MainTemplate": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Body",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_MainTemplate": {
                            "runAfter": {
                                "Try_Get_Blob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "MainTemplate",
                                        "type": "string",
                                        "value": "@{body('Get_blob_content')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_TempTemplate": {
                            "runAfter": {
                                "Initialize_variable_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "TempTemplate",
                                        "type": "string",
                                        "value": "@variables('MainTemplate')"
                                    }
                                ]
                            }
                        },
                        "Try_Get_Blob": {
                            "actions": {
                                "Get_blob_content": {
                                    "runAfter": {},
                                    "metadata": {
                                        "JTJmdGVtcGxhdGVzJTJmUHJvamVjdE9yZGVyX21haWx0ZW1wbGF0ZS5odG1s": "/templates/ProjectOrder_mailtemplate.html"
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['MainTemplatePath']))}/content",
                                        "queries": {
                                            "inferContentType": true
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Parse_Json": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Try_Modify_Body": {
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Parse_JSON')?['Placeholder']",
                                    "actions": {
                                        "Set_variable_MainTemplate_1": {
                                            "runAfter": {
                                                "Set_variable_TempTemplate_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "MainTemplate",
                                                "value": "@variables('TempTemplate')"
                                            }
                                        },
                                        "Set_variable_TempTemplate_2": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "TempTemplate",
                                                "value": "@{replace(variables('MainTemplate'),concat('[',items('For_each_2')?['key'],']'),items('For_each_2')?['value'])}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Set_Main_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Try_Parse_Json": {
                            "actions": {
                                "Parse_JSON": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@decodeBase64(triggerBody()?['ContentData'])",
                                        "schema": {
                                            "properties": {
                                                "Job": {
                                                    "properties": {
                                                        "Href": {
                                                            "type": "string"
                                                        },
                                                        "RunId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "MailBody": {
                                                    "items": {
                                                        "properties": {
                                                            "TemplatePath": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "MailCC": {
                                                    "type": "array"
                                                },
                                                "MailFrom": {
                                                    "type": "string"
                                                },
                                                "MailTo": {
                                                    "type": "array"
                                                },
                                                "MainTemplatePath": {
                                                    "type": "string"
                                                },
                                                "Placeholder": {
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Subject": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Scope"
                        },
                        "Try_Send_Mail": {
                            "actions": {
                                "Send_an_email_from_a_shared_mailbox_(V2)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>@{variables('MainTemplate')}</p>",
                                            "Cc": "@{join(body('Parse_JSON')?['MailCC'],';')}",
                                            "Importance": "Normal",
                                            "MailboxAddress": "@body('Parse_JSON')?['MailFrom']",
                                            "Subject": "@body('Parse_JSON')?['Subject']",
                                            "To": "@{join(body('Parse_JSON')?['MailTo'],';')}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/SharedMailbox/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Try_Modify_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Try_Set_Main_Body": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Parse_JSON')?['MailBody']",
                                    "actions": {
                                        "Get_blob_content_2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['TemplatePath']))}/content",
                                                "queries": {
                                                    "inferContentType": true
                                                }
                                            }
                                        },
                                        "Set_variable_Body": {
                                            "runAfter": {
                                                "Set_variable_TempTemplate": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Body",
                                                "value": "@variables('TempTemplate')"
                                            }
                                        },
                                        "Set_variable_TempTemplate": {
                                            "runAfter": {
                                                "Get_blob_content_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "TempTemplate",
                                                "value": "@{concat(variables('Body'),body('Get_blob_content_2'))}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                },
                                "Set_variable_MainTemplate": {
                                    "runAfter": {
                                        "Set_variable_TempTemplate_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "MainTemplate",
                                        "value": "@variables('TempTemplate')"
                                    }
                                },
                                "Set_variable_TempTemplate_1": {
                                    "runAfter": {
                                        "For_each": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "TempTemplate",
                                        "value": "@{replace(variables('MainTemplate'),'[Body]',variables('Body'))}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_TempTemplate": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('connections_azureblob_name'))]",
                                "connectionName": "[parameters('connections_azureblob_name')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_azureblob_name'))]"
                            },
                            "office365": {
                                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('connections_office365_name'))]",
                                "connectionName": "[parameters('connections_office365_name')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'office365')]"

                            },
                            "servicebus": {
                                "connectionId": "[concat(resourceGroup().id, '/providers/Microsoft.Web/connections/', parameters('connections_servicebus_name'))]",
                                "connectionName": "[parameters('connections_servicebus_name')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_servicebus_name'))]"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                    "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                    "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
                    "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]"
                ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "<User>",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "GetMailTemplate",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_azureblob_name'))]"
                },
                "parameterValues": {
                    "accountName": "[parameters('azureblob_accountName')]",
                    "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', parameters('azureblob_accountName')), '2019-04-01').keys[0].value]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_servicebus_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "SendMail",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('connections_servicebus_name'))]"
                },
                "parameterValues": {
                    "connectionString": "[listKeys(resourceId('Microsoft.ServiceBus/namespaces/authorizationRules', parameters('servicebus_name'), 'RootManageSharedAccessKey'), '2017-04-01').primaryConnectionString]"
                }
            }
        }
    ]
}